body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: url('img/coverbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 15px;
    background-color: #dad8d8;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1.0);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

#name,
#phone,
#email,
#psw,
#pswrepeat,
#file {
    border-radius: 5px;
    height: 25px;
    width: 70%;
    margin-top: 3px;
}

a {
    color: blue;
}

a:hover {
    color: red;
}

.registerbtn {
    background: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 20%;
}

.registerbtn:hover {
    background: #ff0062;
    color: rgb(0, 0, 0);
}

.container h1 {
    background-color: red;
    padding: 30px;
    margin: -20px -20px 5px -20px;
    border-radius: 15px 15px 0 0;
}

.container h1>span {
    font-size: small;
    display: block;
    color: white;
}